<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/chat_room.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <!-- <img src="maria.jpg" alt=""> -->

    
    <div
    class="container">
        <div class="col-md-12 col-lg-6">
            <div class="panel glass">
                <!--Heading-->
                <div class="panel-heading">
        
                    <h1 class="panel-title">Chat</h1>
                </div>

                <!--Widget body-->
                <div id="demo-chat-body" class="collapse in">
                    <div class="nano has-scrollbar" style="height:380px">
                        <div class="nano-content pad-all" tabindex="0">
                            <ul class="list-unstyled media-block">
                                <li class="mar-btm">
                                    <div class="media-left">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                            class="img-circle img-sm" alt="Profile Picture">
                                    </div>
                                    <div class="media-body pad-hor">
                                        <div class="speech">
                                            <a href="#" class="media-heading">John Doe</a>
                                            <p>Hello Lucy, how can I help you today ?</p>
                                            <p class="speech-time">
                                                <i class="fa fa-clock-o fa-fw"></i>09:23AM
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="mar-btm">
                                    <div class="media-right">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                            class="img-circle img-sm" alt="Profile Picture">
                                    </div>
                                    <div class="media-body pad-hor speech-right">
                                        <div class="speech">
                                            <a href="#" class="media-heading">Lucy Doe</a>
                                            <p>Hi, I want to buy this house</p>
                                            <p class="speech-time">
                                                <i class="fa fa-clock-o fa-fw"></i> 09:23AM
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="nano-pane">
                            <div class="nano-slider" style="height: 141px; transform: translate(0px, 0px);"></div>
                        </div>
                    </div>

                    <!--Widget footer-->
                    <div class="panel-footer">
                        <div class="d-flex justify-content-between">
                            
                                <!-- <input type="text" placeholder="Enter your text" class="form-control chat-input"> -->
                                <textarea placeholder="Enter your text" class="form-control" rows="1"></textarea>
                                
                            
                                <button  class="btn btn-primary btn-block" type="submit">Send</button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>